<!-- /views/partials/navBar.ejs -->
<link rel="stylesheet" href="/styles/navBar.css">
<div class="header">
    <div class="logo">MOVIEPALZ</div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <div class="menu">
        <a href="#">Movies</a>
        <a href="#">Party</a>
        <a href="#">History</a>
        <a href="#">Likes</a>
        <a href="#">Pals</a>
    </div>
    <div class="profile-icon">
        <img src="/assets/avatar.png" alt="Profile Icon">
    </div>
</div>